/* ======================================*/
/*  Thomas Lage - lage.thomas@gmail.com  */
/*=======================================*/

/* ===========================> FOCUS <=========================== */

/* INPUT DE BUSCA NA PÁGINA */
#search input:focus[type=text]{
    border: 1px solid;
    border-top:none;
    border-bottom: none;
    border-color: red;
    background-color: #FFFFFF;
    color:#000000;
}

/* ===========================> ACTIVE <=========================== */

/* SUBMENU FINANCEIRO E OUTROS*/
#sidebar > ul li ul li.active a {color: #fff; background-color: #33cc66;}


/* MENUS LATERAIS*/ /*Cor dos Selecionados*/
#sidebar > ul > li.active {background-color: #0099cc; border-bottom: 1px solid #0099cc;  border-top: 1px solid #0099cc;}


/* ITENS ATIVOS */ /*Cor da letra do Selecionado*/
#sidebar > ul > li.active a{ color:#ffffff; text-decoration:none;}


/* ===========================> HOVERS <=========================== */

/*MENUS LATERAIS*/ /*Cor com o Mouse Encima*/
#sidebar > ul > li > a:hover {background-color: #0099cc; color:#ffffff;}


/* ICONES DE VISUALIZAR */ /*???????????????*/
.visualizar:hover{
    background-color: #548B54;
}

/* INPUT DE BUSCA NA PÁGINA */
#search input:hover[type=text]{
    border: 1px solid;
    border-top:none;
    border-bottom: none;
    border-color: red;
    color:#000000;
}

/* LINHA */
li:hover{
    color:#666;
}



/* SUBMENU FINANCEIRO E OUTROS*/ /*Cor do Mouse Encima*/
#sidebar > ul li ul li a:hover{background-color: #33cc66;}

/* MENU SUPERIOR (SAIR, VERSÂO, MINHA CONTA)*/
#user-nav > ul > li > a:hover{ background-color: #3399cc;}

/* COR DO FUNDO DOS BOTÕES (FINANCEIRO, RELATORIO, CONFIGURAÇÃO) */
#sidebar > ul > li > a > .label:hover{background-color: #000000;}

/*ITENS DO DASHBOARD - ICONES*/
.quick-actions li a:hover { border-radius: 5px;}

a:hover, a:focus {text-decoration: none; color:#33cc66;}

/* ===========================> CSS NORMAL <=========================== */

/* BORDAR REDONDA EM TODOS OS INPUTS */
input {
    border-radius: 7px !important;
}

/* Cor da fonte da escrtia interna das Tabelas */
body{ background-color: #2e363f; color:#666666;}


/* REMOVER BORDAS ENTRE OS ITENS */
#sidebar > ul > li {border-top: 1px solid #555555;}


/* COR DOS CAMPOS DOS SUBMENUS (FINANCEIRO, RELATORIO, CONFIGURAÇÃO) */
#sidebar > ul li ul {background-color: #555555;}


/* COR DOS TEXTOS DENTRO DOS SUBMENUS (FINANCEIRO, RELATORIO, CONFIGURAÇÃO) */
#sidebar > ul li ul li a{ color:#ffffff}


/* BORDA INFERIOR MENUS LATERAIS */
#sidebar > ul {border-bottom: 1px solid #555555}


/* ICONES DOS ITENS DO MENU LATERAL E OUTROS */
#user-nav > ul > li > a > i, #sidebar li a i { opacity: .7; margin-top: 2px;}

/* CORES DOS  TEXTOS DO MENU LATERAL */
#sidebar > ul > li > a{ color:#ffffff;}

/* COR DOS BOTÕES (FINANCEIRO, RELATORIO, CONFIGURAÇÃO) */
#sidebar > ul > li > a > .label{background-color: #ff6666;}

/* COR DOS ICONES MENU LATERAL E MENU SUPERIOR */

#user-nav > ul > li > a > i, #sidebar li a i{ color:#ffffff;}

/*ITENS DO DASHBOARD - ICONES*/
.bg_lb {border-radius: 5px;}	/*Clientes*/
.bg_jj {border-radius: 5px;}	/*Produtos*/
.bg_lg {border-radius: 5px;}	/*Serviços*/
.bg_lo {border-radius: 5px;}	/*OS*/
.bg_ls {border-radius: 5px;}	/*Vendas*/
.bg_jk {border-radius: 5px;}	/*Lançamento Financeiro*/


/* TEMPO DECARGA DA TELA */
.tempo-carga{color: #787878; margin: 10px 0 0 20px;}

/* ICONE RELÓGIO */
.icon-time{color:#ffcc00 !important;}

/* ESTATISTICAS DO SISTEMA*/
.bg_lh{ border-radius: 5px;}

/*CABEÇALHO E BARCUMB*/
#header{background-color: #2e363f}
#breadcrumb{background-color: #c5c5c5} /* Barra Superior */
#breadcrumb a{color: #000000} /* Cor da fonte da escrita */

/*Cor das Tabelas e conteudos*/
.widget-box {
	background: none repeat scroll 0 0 #f9f9f9; /*Cor Interna*/
	border-left: 1px solid #bbbbbb;	/*Borda Lateral Esquerda*/
	border-top: 1px solid #bbbbbb;	/*Borda Superior*/
	border-right: 1px solid #000000;	/*Borda Lateral Direita*/
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}

select, .table-bordered{border-radius:0px;} /*Bordas da Tabela Interna*/
select, .table-bordered{border-left: 0px solid #bbbbbb;} /*Borda Lateral Esquerda*/
select, .table-bordered{border-right:0px solid #bbbbbb;} /*Borda Lateral Direita*/
select, .table-bordered{border-top: 0px solid #bbbbbb;} /*Borda Superior*/
select, .table-bordered{border-bottom: 0px solid #bbbbbb;} /*Borda Inferior*/
.table th{border-bottom: 1px solid #bbbbbb;} /*Borda Inferior Interna*/
.table th{background:#bbbbbb;} /*Cor Cabeçalho das Tabelas Internas*/
.widget-title, .modal-header, div.dataTables_wrapper .ui-widget-header {background:#e8e8f3;}	/*Cor Cabeçalho das Tabelas Externas*/
.widget-title, .modal-header, div.dataTables_wrapper .ui-widget-header {border-bottom: 1px solid #000000;}/*Borda Inferior Interna das Tabelas Externas*/
.widget-title span.icon {padding: 9px 10px 7px 11px; float: left; border-right:1px solid #bbbbbb;}	/*Separadores Tabela Externa*/
.widget-content {border-bottom: 1px solid #bbbbbb;}	/*Borda Inferior*/
.widget-content {padding:10px;}/*Margem entre a tabela interna e externa*/
tr:hover{ background:#ffcc00;} span.icon .checker {margin-top: -5px;margin-right: 0;} /*Cor interna da linha da tabela com Mouse Sobre encima*/ 

/* RELOGIO */
.textoHora{color: #ffcc00;}

/*Cor Interna do Sistema*/
#content {background: none repeat scroll 0 0 #ffffff;}

/* BORDA ENTRE OS ITENS DO MENU SUPERIOR */
#user-nav > ul > li{
    border-top:none;
    border-bottom: none;
    border-left: 1px solid;
    border-right: none;
    border-color: #2e363f;
}

/* BORDA AO LADO DIRETO DO BOTÂO (SAIR DO SISTEMA) */
#user-nav > ul{
    border-left:none;
    border-right: 1px solid;
    border-color: #2e363f;
}

/* TEXTOS DO MENU SUPERIOR */
.navbar-inverse .brand, .navbar-inverse .nav>li>a{
    color: #ffffff;
    text-shadow:none;
}

/* PESQUISA */
#search input[type=text]{
    color:#000000;
    background-color: #ffffff;
}
#search button{
    border-radius:5px;
    background-color: #20c07a;
}
#search button i{
    color: #000000;
}

/* ICONES*/
.btn{border-radius:5px;}
.btn [class^="icon-"], .nav [class^="icon-"]{
    color:#FFFFFF
}

/* ICONES DE VISUALIZAR */
.visualizar{background-color: #7CCD7C;}


/* Responsive design */
@media (max-width: 480px) {
    #user-nav {
        border-top:1px solid #c0c0c0;
        background:#FFF;
    }
    #sidebar > ul li span {
        color:#000;
    }
}
